*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --main-bg-color: #fff7e9;
    --main-fg-color: #111827;
    --vertical-line-color: #ef4444;
    --widgets-color: #2f38bd;
    --disable-color: #00000030;
    --line-height: 2.5rem;
}

body > *{
    line-height: var(--line-height);
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: calc(var(--line-height) / 2);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

body::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100%;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(var(--line-height) - .1rem),
        #00000080 var(--line-height)
    );
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: calc(var(--line-height) * 2);
    height: 100vh;
    width: 0.2rem;
    background-color: var(--vertical-line-color);
    opacity: 0.6;
}

h1{
    font-family: "Playwrite IE";
}

a:active{
    color: inherit;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: var(--line-height) 0rem;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: calc(2 * var(--line-height)) 0rem;
}

.page-title{
    font-size: calc(1.5 * var(--line-height));
    margin-bottom: var(--line-height);
}

.btn{
    font-size: var(--line-height);
    color: var(--widgets-color);
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
}

.postit{
    padding: 2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 40rem;
    height: 40rem;
    transform: rotate(-5deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform;
    box-shadow: .1rem .4rem .2rem;
    z-index: 1;
}

.postit h2{
    font-size: 4rem;
    margin-top: 15%;
}

.postit div{
    font-family: "Playwrite IE";
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    text-wrap: nowrap;
}

.postit input{
    letter-spacing: .2rem;
    background-color: transparent;
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 100%;
    font-family: "Indie Flower";
    border: none;
    border-bottom: .2rem solid black;
}

.postit input::selection{
    background-color: var(--disable-color);
}

.postit input:focus{
    outline: none;
    caret-color: transparent;
}

.postit::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    opacity: 0.08;
    background-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.custom-checkbox{
    display: flex;
    width: fit-content;
    font-family: "Playwrite IE";
    font-size: 1.4rem;
    text-wrap: nowrap;
    align-items: center;
}

.custom-checkbox input[type="checkbox"]{
    display: none;
}

.custom-checkbox .checkmark{
    display: flex;
    margin-right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    border: .1rem solid black;
    border-radius: .4rem;
}

.custom-checkbox:hover :not(input:checked) + .checkmark{
    border: .1rem solid black;
    opacity: 0.3;
}

.custom-checkbox input:checked + .checkmark::after{
    display: block;
}

.custom-checkbox .checkmark::after{
    display: none;
}

.custom-checkbox .checkmark::after{
    position: relative;
    content: "";
    width: 1rem;
    height: 1.6rem;
    border: solid black;
    border-width: 0rem .2rem .2rem 0rem;
    transform: rotate(45deg);
    left: .3rem;
    top: -.5rem;
}

.post-it-link{
    text-decoration: none;
}


.submit-btn{
    background-color: transparent;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border: .1rem solid black;
    border-radius: .4rem;
    justify-self: end;
    cursor: pointer;
}

.submit-btn:hover{
    border: .1rem solid var(--disable-color);
}

.terms{
    margin-left: .5rem;
}

.terms-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: cursive;
    text-align: left;
}

.terms-section h2{
    margin-top: calc(2*var(--line-height));
    transform: translateY(.2rem);
}

.terms-section p, .terms-section li{
    transform: translateY(.5rem);
    font-size: 1.4rem;
}

.terms-section li{
    margin-left: 1.6rem;
}

h2{
    transform: translateY(.2rem);
}

p{
    transform: translateY(.4rem);
}

.desabled{
    color: var(--disable-color)
}

.login-postit{
    background-color: #fdff92;
}

.register-postit{
    background-color: #ffdaff;
}

.recovery-postit{
    background-color: #c6e4ff;
}

.task-list{
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}

.task-item{
    width: 100%;
    list-style: none;
}

.task-item label{
    display: flex;
    width: 100%;
    align-items: center;
}

.task-item input[type=text]{
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: var(--line-height);
    outline: none;
    border: solid black;
    border-width: 0rem 0rem .2rem 0rem;
    line-height: var(--line-height);
    background-color: transparent;
}

.add-item a{
    font-size: 1.8rem;
    text-decoration: none;
}

.task-item.non-set .checkmark{
    opacity: 0.3;
}

.list-item-number{
    margin-right: 1rem;
}

.task-item .submit-btn{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    height: var(--line-height);
}