*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --main-bg-color: #fff7e9;
    --main-color: #111827;
    --vertical-line-color: #ef4444;
    --widgets-color: #2f38bd;
    --line-height: 2.5rem;
}

body > *{
    line-height: var(--line-height);
}

body{
    height: 100vh;
    min-width: 70rem;
    font-size: calc(var(--line-height)/2);
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

body::after{
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1000;

    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(var(--line-height) - 1px),
        #00000080 var(--line-height)
    );
}

body::before{
    content: "";
    position: fixed;
    left: calc(var(--line-height) * 3);
    top: 0;
    height: 100vh;
    width: 0.2rem;
    background-color: var(--vertical-line-color);
    opacity: 0.6;
}

h1{
    font-family: "Playwrite IE";
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: var(--line-height) calc(2 * var(--line-height));
}

h2{
    line-height: var(--line-height);
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: calc(var(--line-height) * 8);
    width: calc(100% - 6rem);
    height: calc(var(--line-height) * 4);
}

.hero .btn{
    margin-top: var(--line-height);
}

.btn{
    font-family: "Indie Flower", sans-serif;
    font-size: var(--line-height);
    width: fit-content;
    color: var(--widgets-color);
    border-radius: .6rem;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 6rem;
    height: 100%;
}
