{% extends 'main/layout.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock style %}
{% block content %}
    <form class="profile-form" method="POST" action="" enctype="multipart/form-data" novalidate>
        <h2>My Account</h2>
        <div class="profile-picture">
            {{ form.profile_picture }}
        </div>
        <div class="form-row">
            {{ form.fullname.label }} <span>:</span> {{ form.fullname }}
        </div>
        <div class="form-row">
            {{ form.email.label }} <span>:</span> {{ form.email }}
        </div>
        <div class="form-row">
            {{ form.submit }}
        </div>
    </form>
{% endblock content %}