{% extends 'main/layout.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock style %}
{% block content %}
    <form class="post-it register-form" method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <h2>{{ title }}</h2>
        <div class="form-row">
            {{ form.email.label }} <span>:</span> {{ form.email }}
            {% if form.email.errors %}
                <div class="validation-errors-popup">
                    {% for error in form.email.errors %}
                        <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-row">
            {{ form.password.label }} <span>:</span> {{ form.password }}
            {% if form.password.errors %}
                <div class="validation-errors-popup">
                    {% for error in form.password.errors %}
                        <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-row">
            {{ form.confirm_password.label }} <span>:</span> {{ form.confirm_password }}
            {% if form.confirm_password.errors %}
                <div class="validation-errors-popup">
                    {% for error in form.confirm_password.errors %}
                        <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-row">
            <div class="terms-container">
                {{ form.terms }}
                <label for="terms">
                    Agree to
                    <a class="terms-link" href="{{ url_for('main.terms') }}">
                        {{ form.terms.label.text }}
                    </a>
                </label>
            </div>
            {% if form.terms.errors %}
                <div class="validation-errors-popup">
                    {% for error in form.terms.errors %}
                        <span class="validation-error">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-row">
            {{ form.submit }}
        </div>
    </form>
{% endblock content %}