<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Taskflow - {{ title }}</title>
    {% else %}
        <title>Taskflow</title>
    {% endif %}

    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}
</head>
<body>
    <div class="content-wrapper">
        <header>
            <nav>
                <h1 class="site-logo"><a href="{{ url_for('main.home') }}">TaskFlow</a></h1>
                <ul class="nav-list">
                    <li class="nav-list-item"><a href="{{ url_for('users.login') }}">Login</a></li>
                    <li class="nav-list-item"><a href="{{ url_for('users.register') }}">Register</a></li>
                    <li class="nav-list-item"><a href="{{ url_for('users.account') }}">Account</a></li>
                    <li class="nav-list-item"><a href="{{ url_for('users.logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="hero">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-message {{category}}-color">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock content %}
            </div>
        </main>
        <footer>
            <span class="copyright">All rights reserved TaskFlow &copy; 2026</span>
        </footer>
    </div>
</body>
</html>