{% extends 'main/layout.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notebooks.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer src="{{ url_for('static', filename='js/notebooks.js') }}"></script>
{% endblock style %}
{% block content %}
    <div id="notebooks-container" class="notebooks-container not-editing">
        <div class="list-header">
            <div class="icon-container">
                <a class="material-symbols-outlined btn" href="{{ request.referrer }}">keyboard_arrow_left</a>
            </div>
            <h2>{{notebook_title}}</h2>
            <div class="icon-container">
                <button class="material-symbols-outlined btn edit-btn" onclick="editing_mode()">edit</button>
                <button class="material-symbols-outlined btn check-btn" onclick="view_mode()">check</button>
            </div>
        </div>
        <div class="new-task">
            <form method="POST" action="" novalidate autocomplete="off">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    {{ form.name(id='new-task-input') }}
                    {{ form.submit(class='material-symbols-outlined') }}
                </div>
            </form>
        </div>
        <ul id="task-list">
            {% for task in tasks %}
                <li class="task">
                    <label>
                        <input type="checkbox"><span class="list-number">{{ "%03d"|format(loop.index) }}</span> - <span class="list-name">{{task.content}}</span>
                    </label>
                    <div class="edit-options">
                        <button class="material-symbols-outlined btn delete-btn">delete</button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}