.login-form{
    background-color: aliceblue;
}

.register-form{
    background-color: antiquewhite;
}

.new-password-form{
    background-color: beige;
}

.password-recovery-form{
    background-color: wheat;
}

.post-it{
    font-family: 'Courier New', Courier, monospace;
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--line-height);
    padding-top: calc(3 * var(--line-height));
    gap: 2rem;
    box-shadow: 1px 1px 2px;
}

.post-it h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.form-row{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.form-row label{
    text-wrap: nowrap;
}

.form-row input[type='email'],
.form-row input[type='password']{
    display: flex;
    height: var(--line-height);
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}

.form-row a{
    color: blueviolet;
}

.form-row input[type='submit']{
    padding: .5rem 1rem;
    margin-left: auto;
}

.validation-errors-popup{
    display: none;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    border-radius: 1rem;
    padding: 1rem;
    width: calc(100% - 2 * var(--line-height));
    animation: fade-out cubic-bezier(.5,0,1,1) 3s;
    top: 100%;
}

.validation-error{
    font-size: 1.4rem;
    text-wrap: nowrap;
}

@keyframes fade-out {
    0%{
        display: flex;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}

.error-color{
    color: rgb(255, 73, 73);
    background-color: rgb(255, 224, 224);
}

.info-color{
    color: rgb(97, 100, 255);
    background-color: rgb(223, 225, 255);
}

.warning-color{
    color: rgb(218, 141, 0);
    background-color: rgb(255, 255, 222);
}

.success-color{
    color: rgb(29, 90, 0);
    background-color: rgb(210, 255, 208);
}