{% extends 'layout.html' %}
{% block content %}
<form class="postit login-postit">
    <h2>Login</h2>
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password">
    </div>
    <div>
        <label class="remember-me custom-checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
            Remember me
        </label>
    </div>
    <div>
        <a class="forgot-password post-it-link" href="{{ url_for('password_recovery') }}">forgot password?</a>
        <button class="submit-btn">Submit</button>
    </div>
</form>
{% endblock content %}