{% extends 'layout.html' %}
{% block content %}
    <form class="postit recovery-postit">
        <h2>Password Recovery</h2>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="email">
        </div>
        <div>
            <label class="desabled code-timeout">
                Resend email in <span class="countdown">60</span>s
            </label>
        </div>
        <div>
            <span></span>
            <button class="submit-btn">Send</button>
        </div>
    </form>
{% endblock content %}