{% extends 'layout.hmtl' %}
{% block content %}
<form class="postit register-postit">
    <h2>Register</h2>
    <div>
        <label for="email">Email:</label>
            <input id="email" type="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" type="password">
        </div>
        <div>
            <label for="password">Confirm:</label>
            <input id="password" type="password">
        </div>
        <div>
            <label class="custom-checkbox">
                <input type="checkbox">
                <span class="checkmark"></span>
                I agree to <a class="terms post-it-link" href="terms.html">terms</a>
            </label>
            <button class="submit-btn">Submit</button>
        </div>
    </form>
{% endblock content %}